html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f4f7fc;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d8e2dc;
  height: 70px;
  width: 100vw;
}

input {
  background: transparent;
  border: none;
  border-bottom: white 1px solid;
  font-size: 1em;
  height: 25px;
  width: 260px;
  margin-right: 15px;
  padding: 3px;
}

input:focus {
  outline: darkgrey 1px solid;
}

.input-button {
  color: rgb(43, 43, 43);
  background: white;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.input-button:focus {
  outline: darkgrey 1px solid;
}

.start-page {
  padding: 26px;
}

.barcode-scanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.initializing-camera {
  background-color: inherit;
}

video {
  width: 80%;
  height: 80%;
}

canvas {
  width: 0px;
  height: 0px;
}

.scanned-product {
  width: 90%;
  background: inherit;
  display: flex;
  flex-direction: column;
}

.scanned-product img {
  align-self: center;
  margin-bottom: 15px;
}

.product-brand {
  display: flex;
}
.scanned-product p {
  margin: 5px 0;
}

.scanned-product h2 {
  margin: 5px 0;
  font-size: 1.1em;
}

.bold {
  font-weight: bold;
}

.camera-button {
  background: #9d8189;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  outline: none;
}

.camera-button:focus {
  outline: darkgrey 2px solid;
}

.fas {
  color: white;
  font-size: 2rem;
}

.not-found {
  background-color: #a5988f;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

.heart {
  color: lightyellow;
  font-size: 3rem;
}

footer {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  background-color: inherit;
  width: 100%;
  padding: 5px 0;
}
