@import './variables.scss';
@import './mixins-extends.scss';

html,
body {
  @include size(100%, 100%);
  @include display-center(row);
  background: whitesmoke;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    @include display-center(column);
    @include size(100%, 100%);
    justify-content: space-between;
    background-color: $primary-color;

    @media (min-width: $medium) {
      @include size(80%, 90%);
      border-radius: 30px;
      border: 2px $third-color solid;
     }

     @media (min-width: $large) {
      @include size(60%, 80%);
      border-radius: 30px;
     }
  }
}

.bold {
  font-weight: bold;
}

form {
  @include color-theme($secondary-color, $primary-color);
  @include display-center(row);
  @include size(100%, 70px);
  font-size: 1em;

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7; 
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.7; 
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.7; 
  }

  @media (min-width: $medium) {
    border-radius: 30px 30px 0 0;
    height: 90px;
  }

    label {
      width: 70%;

      @media (min-width: $large) {
        width: 40%;
       }
    }

    input {
      @include color-theme(transparent, white);
      border: none;
      border-bottom: $third-color 1px solid;
      font-size: inherit;
      width: 90%;
      margin-right: $margin-small*3;
      padding: $padding-small;

      @media (min-width: $medium) {
        font-size: 1.3em;
      }
    }

    :focus {
      outline: $focus;
    }

    button {
      @extend %button-basic;
      @include color-theme($third-color, rgb(43, 43, 43));
      padding: $padding-small/2 $padding-small;
      border-radius: 5px;
      font-size: inherit;

      @media (min-width: $medium) {
        font-size: 1.3em;
      }
    }

    button:focus {
      outline: $focus;
    }
}

.start-page {
  @include color-theme($primary-color, $text);
  padding: 26px;
  text-align: center;

  @media (min-width: $large) {
    font-size: 1.3em;
   }

  .initializing-camera {
    background-color: $primary-color;
  }
}

.barcode-scanner {
  @include display-center(row);
  background-color: $primary-color;

  video {
    @include size(80%, 80%);
  }
  
  canvas {
    @include size(0px, 0px);
  }
}

.scanned-product {
  @include color-theme($primary-color, $text);
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  // @media (min-width: $large) {
  //   width: 70%;
  // }

  p {
    margin: 6px 0;

    @media (min-width: $large) {
      font-size: 1.2em;
    }
  }
  
  h2 {
    margin: $margin-small 0;
    font-size: 1.1em;

    @media (min-width: $large) {
      font-size: 1.4em;
    }
  }

  img {
    align-self: center;
    margin-bottom: $margin-small*3;
  }

  .product-brand {
    display: flex;
  }
}

footer {
  @include display-center(row);
  position: sticky;
  background-color: $primary-color;
  width: 100%;
  padding-bottom: $padding-small*3;

  @media (min-width: $medium) {
    border-radius: 0 0 30px 30px;
  }

  .camera-button {
    @extend %button-basic;
    @include size(70px, 70px);
    background: $secondary-color;
    border-radius: 50%;
    
    @media (min-width: $large) {
      @include size(90px, 90px);
    }
  }
  
  .camera-button:focus {
    outline: darkgrey 2px solid;
  }

  .fas {
    color: white;
    font-size: 2rem;

    @media (min-width: $large) {
      font-size: 4em;
    }
  }
}

.not-found {
  @include display-center(column);
  @include color-theme($primary-color, $text);
  @include size(100%, 100%);
  padding: 40px 30px;
  box-sizing: border-box;
  text-align: center;

  .heart {
    color: $secondary-color;
    font-size: 3rem;
  }
}




