$primary-color: #f7dba7;
$secondary-color: #f1ab86;
$third-color: #8093f1;
$text: rgb(44, 44, 44);

$padding-small: 5px;

$margin-small: 5px;

$focus: darkgrey 1px solid;

$medium: 668px;
$large: 1024px;
$x-large: 2000px;